<div>
    <div class="pt-10">
        <div class="mx-auto grid grid-cols-1 p-2 px-4 lg:grid-cols-2 gap-6 my-8">
            <div class="grid-cols-12 ">
                <h1 class="text-xl font-bold mb-2">Nombre del pais: {{pais}}&uacute;</h1>
                <h2 class="text-lg font-semibold py-2">Datos Generales</h2>
                <p class="text-justify leading-8">Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.</p>
                <p class=" text-justify leading-8"> Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.</p>
            </div>
    
            <div class="d-grid gap-2 w-3/4 mx-auto float-start border shadow-lg shadow-gray-400">
                <div class="w-3/4 mx-auto">
                    <img src="https://png.pngtree.com/png-clipart/20220712/ourmid/pngtree-peru-flag-mockup-png-image_5902532.png " alt="" class="img">
                </div>
            </div>
        </div>
    </div>
</div>

