<div class="w-full min-[576px]:min-h-full max-[600px]:min-h-full sm:min-h-full md:min-h-full lg:min-h-full mr-0 p-4" style="background-color:  #2f323a">
        <ul class="flex flex-col" style="height: 100vh;">
          <li class="py-3 text-center  my-3 mb-1 text-white text-xs w-full md:text-base hover:bg-red-400"[routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-red-500 hover:bg-red-700  ease-out duration-300 ease-in duration-300"><a  routerLink="/">Home</a></li>

          <li class="py-3 text-center  my-3 mb-1 text-white text-xs w-full md:text-base hover:bg-red-400" 
          routerLinkActive="bg-red-500 hover:bg-red-700 ease-out duration-300 ease-in duration-300"><a routerLink="/peru">Per&uacute;</a></li>

          <li class="py-3 text-center  my-3 mb-1 text-white text-xs w-full md:text-base hover:bg-red-400" routerLinkActive="bg-red-500 hover:bg-red-700 ease-out duration-300 ease-in duration-300"><a 
          routerLink="/chile">Chile</a></li>

          <li class="py-3 text-center  my-3 mb-1 text-white text-xs w-full md:text-base hover:bg-red-400" routerLinkActive="bg-red-500 hover:bg-red-700 ease-out duration-300 ease-in duration-300"><a 
           routerLink="/uruguay">Uruguay</a></li>
        </ul>
      </div> 

